VITE_SUPABASE_URL=https://jtsmtnamasboxnzwkqij.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=sb_publishable_C8deHG8U1uZMJtJeGXeJ2g_hxzeQeJ0
VITE_SUPABASE_TABLE=movie_search_metrics
VITE_TMDB_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2YjBmOTYxODllMzMwZDNkMTFkNmQ2NWVlYmQxODlkYSIsIm5iZiI6MTc1NjI4MzE3Mi41MDQ5OTk5LCJzdWIiOiI2OGFlYzEyNDk5Y2ZhMzc5NGMzOTA1MWEiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.8hYclEdOf5iKPvnVvQ1OnzgzgE5Ho12ocdfq0h0kqag